.module {
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

.productsTable {
  float: left;
  width: 75%;
  height: auto;
  margin: 25px 0px;
}

.productsTable > .tableHead,
.productsTable > .entry {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #DDD;
}

.productsTable > .entry {
  border: none;
}

.cell {
  float: left;
  flex-basis: 15%;
  padding: 15px 0px;
  font-size: 14px;
  color: #888;
}

.cell:nth-child(1) {
  flex-basis: 55%;
}

.remove {
  float: left;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: none;
}

.remove > svg {
  width: 24px;
  height: 24px;
  fill: #888;
  transition: all 0.13s ease-in-out;
}

.remove:hover > svg {
  fill: #FF5050;
}

.cell > p,
.cell > .product-name,
.cell > .product-quantity,
.cell > .product-value,
.cell > .product-total {
  float: left;
  margin-left: 15px;
  margin-top: 3px;
}

.cell > .first {
  margin-left: 38px;
}

.keepShopping {
  float: right;
  width: calc(20% - 30px);
  height: auto;
  padding: 15px;
  margin-top: 40px;
  border: 1px solid #DDD;
}

.keepShopping > p {
  float: left;
  width: 100%;
  height: auto;
  font-size: 13px;
  text-align: center;
  color: #888;
}

.shop {
  width: 100%;
	height: 40px;
	border: none;
	font-size: 13px;
	background: #b30664;
	color: #FFF;
  margin-top: 20px;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.totalPrice {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.totalPrice > p {
  float: left;
  font-weight: 600;
  font-size: 20px;
  color: #888;
}

.totalPrice > p:nth-child(2) {
  float: right;
  color: #b30664;
}
