.module {
  float: left;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #DDD;
}

.module > .left {
  float: left;
  width: 35%;
  height: auto;
  margin-top: 20px;
}

.module > .right {
  float: right;
  width: 61%;
  height: auto;
  margin-top: 20px;
}

.productsTable {
  float: left;
  width: 75%;
  height: auto;
  margin: 25px 0px;
}

.productsTable > .tableHead,
.productsTable > .entry {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #DDD;
}

.productsTable > .entry {
  border: none;
}

.cell {
  float: left;
  flex-basis: 15%;
  padding: 15px 0px;
  font-size: 14px;
  color: #888;
}

.cell:nth-child(1) {
  flex-basis: 55%;
}

.remove {
  float: left;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: none;
}

.remove > svg {
  width: 24px;
  height: 24px;
  fill: #888;
  transition: all 0.13s ease-in-out;
}

.remove:hover > svg {
  fill: #FF5050;
}

.cell > p,
.cell > .product-name,
.cell > .product-quantity,
.cell > .product-value,
.cell > .product-total {
  float: left;
  margin-left: 15px;
  margin-top: 3px;
}

.cell > .first {
  margin-left: 38px;
}

.keepShopping {
  float: right;
  width: calc(20% - 30px);
  height: auto;
  padding: 15px;
  margin-top: 40px;
  border: 1px solid #DDD;
}

.keepShopping > p {
  float: left;
  width: 100%;
  height: auto;
  font-size: 13px;
  text-align: center;
  color: #888;
}

.shop {
  width: 100%;
	height: 40px;
	border: none;
	font-size: 13px;
	background: #b30664;
	color: #FFF;
  margin-top: 20px;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.totalPrice {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.totalPrice > p,
.total p,
.frete p {
  float: left;
  font-weight: 600;
  font-size: 20px;
  color: #888;
}

.totalPrice > p:nth-child(2),
.total > p:nth-child(2),
.frete > p:nth-child(2) {
  float: right;
  color: #b30664;
}

.left > .changer-wrapper {
  float: left;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #b30664;
  border-radius: 40px;
  overflow: hidden;
}

.left > .changer-wrapper > button {
  float: left;
  width: 50%;
  height: 40px;
  border: none;
  background: #FFF;
  cursor: pointer;
  color: #b30664;
}

.left > .changer-wrapper > .active {
  color: #FFF;
  background: #b30664;
}

.address-card, .credit-card-entry {
	float: left;
	position: relative;
	width: calc(100% - 40px);
	height: auto;
	background: #EEE;
	padding: 20px;
	margin-bottom: 25px;
	border-radius: 5px;
}

.left > .active,
.credit-card-list > .active {
	background: #b30664;
}

.address-card > .title {
	float: left;
	width: 100%;
	height: auto;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 20px;
}

.address-card > .description {
	float: left;
	width: 100%;
	font-size: 13px;
	color: #888;
}

.active > .title,
.active > .description {
  color: #FFF;
}

.credit-card-entry > .flag {
	float: left;
	width: 80px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.visa {
	background-image: url(../img/card-flags/visa.png);
	background-size: 60px;
}

.mastercard {
	background-image: url(../img/card-flags/mastercard.png);
	background-size: 60px;
}

.credit-card-entry > .title {
	float: left;
	width: calc(100% - 100px);
	margin-top: 9px;
	margin-left: 10px;
	margin-bottom: 0px;
}

.module > .left > a > .shop {
  margin-top: 0px;
}

.boleto-list {
  display: none;
}

.right > h3 {
  margin-bottom: 30px;
}

.right > label,
.right > .changer,
.right div label,
.right div .changer {
    float: left;
    width: calc(100% - 20px);
    height: auto;
    margin-bottom: 15px;
		clear: both;
}

.right div label {
	width: 100%;
	font-size: 13px;
	color: #888;
	margin-bottom: 10px;
}

.right > .changer,
.right div .changer {
	padding: 10px;
	border: 1px solid #888;
	border-radius: 4px;
}

#save-new-address {
	float: left;
	clear: both;
	width: 262px;
	height: auto;
	margin-top: 30px;
	padding: 15px 0px;
	color: #FFF;
	background: #b30664;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.col-right,
.col-left {
	float: right;
	width: 49%;
	height: auto;
}

.col-left {
	float: left;
}

.module:nth-child(3) > .left,
.module:nth-child(3) > .right {
  width: 47%;
}

.total, .frete {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.total p, .frete p {
  font-size: 14px;
}
