/* INTEGRAÇÃO DE FONTES */
@font-face {
    font-family: Museo100;
    src: url("../thirdParty/fonts/MuseoSans-100.otf") format("opentype");
}

@font-face {
    font-family: Museo300;
    src: url("../thirdParty/fonts/MuseoSans-300.otf") format("opentype");
}

@font-face {
    font-family: Museo500;
    src: url("../thirdParty/fonts/MuseoSans-100.otf") format("opentype");
}

@font-face {
    font-family: Museo700;
    src: url("../thirdParty/fonts/MuseoSans-100.otf") format("opentype");
}

/* RESET */
* {
	margin: 0px;
	padding: 0px;
	font-family: Museo500, "Museo Sans", sans-serif;
	outline: none;
}

body {
	overflow-x: hidden;
	padding-top: 120px;
}

/* ALTERAÇÕES GERAIS */
header {
	position: fixed;
	float: left;
	width: 100%;
	height: 120px;
	top: 0px;
	left: 0px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	background: #FFF;
	z-index: 5;
}

section {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

ul {
	line-height: 1.5em;
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* ESTILOS */
.first-header {
	position: relative;
	float: left;
	width: 85%;
	height: 60px;
	padding: 0px 7.5%;
}

.menu {
	float: left;
	width: 40px;
	height: 40px;
	margin: 10px;
	border: none;
	cursor: pointer;
	background: #FFF;
	display: none;
}

.menu > svg {
	fill: #b30664;
}

.logo, .footer-logo {
	float: left;
	width: 160px;
	height: 44px;
	margin-top: 7px;
	background-image: url(../img/svg/logo.svg);
	background-size: cover;
	background-position: -10px;
}

.searchbox {
	float: left;
	width: 25%;
	height: 60px;
	margin-left: 22%;
}

.searchbox > .SearchInput {
	float: left;
	width: calc(100% - 40px);
	height: 40px;
	padding: 0px 15px;
	border: 1px solid #DDD;
	border-right: none;
	border-radius: 3px 0px 0px 3px;
	margin-top: 10px;
}

.searchbox > .QuerySearch {
	float: left;
	width: 40px;
	height: 40px;
	background: #FFF;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #DDD;
	transition: all 0.18s linear;
	background-image: url(../img/lupa.svg);
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0px 3px 3px 0px;
}

.searchbox > .QuerySearch > svg {
	fill: #DDD;
	width: 24px;
	height: 24px;
}

.searchbox > .QuerySearch:active {
	border: 1px solid #b30664;
}

.first-header > .right {
	float: right;
}

.first-header > .right > .divider {
	float: left;
	width: 1px;
	height: 40px;
	margin-top: 10px;
	background: #DDD;
}

.notifications > svg, .profile > svg, .cart > svg {
	float: left;
	width: 28px;
	height: 28px;
	margin: 16px;
	fill: #666;
}

.profile > p, .cart > p {
	float: left;
	margin-top: 20px;
	color: #666;
	user-select: none;
	font-weight: 600;
}

.notifications {
	float: left;
	width: 60px;
	height: 60px;
	transition: background 0.18s linear;
	position: relative;
	user-select: none;
	cursor: default;
}

.profile, .cart {
	float: left;
	width: 140px;
	height: 60px;
	transition: background 0.18s linear;
	position: relative;
}

.profile {
	width: 115px;
}

.profile:hover, .cart:hover, .notifications:hover {
	background: #EEE;
}

.cart {
	position: relative;
}

.start-checkout {
	display: none;
	position: absolute;
	width: 240px;
	height: auto;
	padding: 20px;
	background: #FFF;
	top: 67px;
	right: 0px;
	border: 1px solid #EEE;
}

.cart > .active {
	display: block;
}

.start-checkout > .pointer {
	position: absolute;
	transform: rotate(45deg);
	width: 24px;
	height: 24px;
	top: -13px;
	right: 40px;
	background: #FFF;
	border-left: 1px solid #EEE;
	border-top: 1px solid #EEE;
}

.close-checkout {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 19px;
    left: 18px;
	border: none;
	background: transparent;
	opacity: 0.4;
}

.close-checkout > svg {
	fill: #888;
}

.start-checkout > .close-checkout:hover {
	opacity: 1;
}

.start-checkout > .title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

.start-checkout > .description {
	color: #888;
	font-size: 13px;
	padding: 15px 0px;
}

.start-checkout > .list-title {
	float: left;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 600;
}

.start-checkout > table {
	float: left;
	width: 100%;
	color: #888;
	font-size: 14px;
	font-weight: 600;
	border: none;
	margin-top: 10px;
	table-layout: fixed;
}

.data {
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
	border: none;
	padding-bottom: 15px;
}

.more-products {
	float: left;
	color: #888;
	font-weight: 600;
	font-size: 13px;
	margin-left: 3px;
	padding-bottom: 20px;
}

.price, .frete, .fullPrice {
	text-align: right;
}

.pricing {
	table-layout: auto;
	margin: 10px 0px;
}

.pricing > tr > .data {
	width: 30%;
  	overflow: visible;
	padding-bottom: 5px;
}

.frete, .fullPrice{
	width: 70%;
}

.fullPrice {
	font-size: 26px;
}

.checkout {
	width: 100%;
	height: 40px;
	border: none;
	font-size: 13px;
	background: #b30664;
	color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.second-header {
	transition: all 0.18s linear;
}

.second-header > a > .wrapper {
	float: left;
	width: auto;
	height: 60px;
	padding-right: 25px;
}

.second-header > a > .wrapper > .wpic {
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 13px;
	background-repeat: no-repeat;
	background-position: center;
}

header > .active {
	left: 0px;
	opacity: 1;
}

.osso {
	background-image: url(../img/pets.svg);
}

.frut {
	background-image: url(../img/frutas.svg);
}

.carn {
	background-image: url(../img/churrasco.svg);
}

.lati {
	background-image: url(../img/laticinios.svg);
}

.nomk {
	background-image: url(../img/semglutem.svg);
}

.doce {
	background-image: url(../img/doces.svg);
}

.higi {
	background-image: url(../img/higiene.svg);
}

.toys {
	background-image: url(../img/brinquedos.svg);
}

.second-header > a > .wrapper > p {
	float: left;
	color: #333;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 600;
}

.second-header {
	float: left;
	width: 85%;
	height: 58px;
	padding: 0px 7.5%;
	border-top: 2px dashed #DDD;
}

.showcase {
	position: relative;
	z-index: 1;
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(https://images.pexels.com/photos/1363799/pexels-photo-1363799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.beforeH1 {
	float: left;
	margin-left: 7.5%;
	margin-top: 50px;
	clear: both;
	text-transform: uppercase;
}

h1 {
	width: 40%;
	float: left;
	clear: both;
	margin-left: 7.5%;
	margin-top: 20px;
	font-size: 48px;
}

.showcase-cta {
	float: left;
	clear: both;
	margin-left: 7.5%;
	margin-top: 30px;
	padding: 15px 25px;
	background: #b30664;
	color: #FFF;
	border: 0px;
	border-radius: 7px;
	text-transform: uppercase;
}

.MoreOffers {
	overflow: hidden;
	float: left;
	clear: both;
	width: 85%;
	height: 90px;
	margin: 55px 7.5%;
	margin-bottom: 0px;
	border-radius: 7px;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	background: #FFF;
}

.MoreOffers > .card {
	float: left;
	display: inline-block;
	width: calc(25% - 2px);
	height: 90px;
	border-right: 2px dotted #DDD;
}

.MoreOffers > .card:nth-child(4) {
	border: none;
}

.MoreOffers > .card > .pic {
	float: left;
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 100%;
	background: #DDD;
}

.MoreOffers > .card > p {
	float: left;
	width: calc(100% - 100px);
	margin-left: 5px;
	margin-top: 37px;
	font-size: 14px;
	font-weight: 600;
}


/* FOOTER */
footer {
	float: left;
	width: 100%;
	height: auto;
}

.newsletter {
	float: left;
	width: 85%;
	height: 90px;
	padding: 0px 7.5%;
	background-color: #222;
}

.newsletter > p {
	float: left;
	color: #FFF;
	font-weight: 600;
	font-size: 18px;
	margin-top: 33px;
}

.newsletter > div {
	float: right;
}

.newsletter > div > input {
	float: left;
	width: 280px;
	height: 40px;
	margin-top: 24px;
	padding: 0px 15px;
	background: #FFF;
	border: none;
	border-radius: 4px;
}

.newsletter > div > .send-email {
	float: left;
	width: 100px;
	height: 40px;
	margin-top: 24px;
	margin-left: 10px;
	padding: 0px 15px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	color: #FFF;
	background: #56b825;
}

.footer-grid > .part, .info > .part {
	float: left;
	width: 25%;
	height: auto;
}

.info {
	float: left;
	width: 85%;
	height: auto;
	margin-top: 30px;
	padding: 0px 7.5%;
}

.info > .part {
	height: auto;
}

.info > .part > .pic {
	float: left;
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 100%;
	background: #DDD;
}

.info > .part > p {
	float: left;
	width: calc(100% - 100px);
	margin-left: 0px;
	margin-top: 25px;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.info > .part > p > a {
	color: #333;
}

.info > .part > small {
	float: left;
	width: calc(100% - 100px);
	margin-left: 0px;
	margin-top: 5px;
	font-size: 14px;
	color: #999;
}

.part > strong {
	float: left;
	width: 100%;
	font-size: 20px;
}

.part > ul {
	float: left;
	margin-top: 20px;
}

.part > ul > li > a {
	color: #777;
}

.part > ul > li > a:hover, .info > .part > p > a:hover {
	color: #b30664;
}

.footer-logo {
	width: 242px;
    height: 60px;
    clear: both;
    margin: 30px 0px;
    margin-left: 7.5%;
    background-position: -16px;
}

.footer-grid {
	float: left;
	clear: both;
	width: 85%;
	height: auto;
	padding: 0px 7.5%;
	margin-bottom: 40px;
}

.institucional > p {
	float: left;
	width: 80%;
	color: #777;
	font-weight: 600;
	font-size: 13px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.footer-grid > .part > ul > li > a {
	font-weight: 600;
	font-size: 13px;
}

/* MODAL */
.darkFrame {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.45);
}

.darkFrame > .frame {
	position: relative;
	float: left;
	width: 400px;
	height: 60vh;
	max-height: 400px;
	background: #FFF;
	margin-left: calc(50vw - 200px);
	margin-top: 20vh;
}

.frame > .close-modal {
	position: absolute;
	width: 32px;
	height: 32px;
	right: -35px;
	top: -40px;
	border: none;
	cursor: pointer;
	background: transparent;
}

.frame > .close-modal > svg {
	fill: #FFF;
}

.frame > div {
	position: relative;
	display: none;
	float: left;
	width: 90%;
	height: calc(100% - 40px);
	padding: 20px 5%;
}

.login > .title, .login > label {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 35px;
	text-transform: uppercase;
	font-size: 28px;
}

.login > label {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	text-transform: none;
}

.login > input[type="email"], .login > input[type="password"] {
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 4px;
	margin-bottom: 25px;
}

.confirmLogin {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 50px;
	top: auto;
	margin: auto;
	width: 90%;
	height: 40px;
	border: none;
	font-size: 13px;
	background: #b30664;
	color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.GoToSignUp {
	position: absolute;
	width: auto;
	left: 0px;
	right: 0px;
	bottom: 20px;
	top: auto;
	margin: auto;
	font-size: 13px;
	color: #b30664;
	text-align: center;
	cursor: pointer;
}