.topbox {
	float: left;
	width: 100%;
	height: auto;
	padding: 20px 0px;
}

h2 {
	color: #b30664;
}

.topbox > .description {
	float: left;
	margin-top: 15px;
}

.filters {
	float: left;
	width: calc(100% - 32px);
	height: auto;
	margin: 40px 0px;
	padding: 15px;
	margin-bottom: 0px;
	border-radius: 4px;
	border: 1px solid #b30664;
}

.filters > p, .cell {
	float: left;
	width: auto;
	margin-right: 70px;
}

.results {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.product {
	overflow: hidden;
	float: left;
	width: calc(100% - 2px);
	height: 160px;
	border: 1px solid #EEE;
	border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
}

.product > .image {
	float: left;
	width: 160px;
	height: 160px;
	margin: 0px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.pao {
	background-image: url(../img/produtos/pullmann-trad-500g.jpg);
}

.product > .name {
	float: left;
	width: calc(100% - 200px);
	margin-top: 15px;
	font-weight: 600;
	color: #b30664;
}

.product > .description {
	float: left;
	width: calc(70% - 200px);
	height: 95px;
	font-size: 13px;
	color: #888;
	margin-top: 15px;
}

.product > .value, .product > .old-value {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
	font-weight: 600;
	color: #b30664;
}

.product > .old-value {
	top: 52px;
	font-size: 14px;
	font-weight: 500;
	color: #888;
}

.product > .buy {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	border: none;
	color: #FFF;
	background: #b30664;
	border-radius: 4px;
	cursor: pointer;
}

#price-order {
	width: 120px;
}

@media screen and (max-width: 735px) {
	.product {
		height: auto;
		padding-bottom: 15px;
	}

	.product > .image {
		width: 100%;
		margin: 0px;
	}

	.product > .name, .product > .description {
		width: 90%;
		margin: 10px 5%;
	}

	.product > .buy {
		float: right;
		position: static;
		margin-right: 5%;
	}

	.product > .value, .product > .old-value {
		right: 5%;
	}
}