/* RESET */
* {
	margin: 0px;
	padding: 0px;
}

/* ALTERAÇÕES GERAIS */
header {
	position: relative;
	float: left;
	width: 100%;
	height: 120px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	background: #FFF;
	z-index: 3;
}

section {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

/* ESTILOS */
.first-header {
	float: left;
	width: 85%;
	height: 60px;
	padding: 0px 7.5%;
}

.logo {
	float: left;
	width: 160px;
	height: 44px;
	margin-top: 7px;
	background: #000;
}

.searchbox {
	float: left;
	width: auto;
	height: 60px;
	margin-left: 100px;
}

.searchbox > .SearchInput {
	float: left;
	width: 300px;
	height: 40px;
	padding: 0px 15px;
	border: 1px solid #DDD;
	border-right: none;
	border-radius: 3px 0px 0px 3px;
	margin-top: 10px;
}

.searchbox > .QuerySearch {
	float: left;
	width: 40px;
	height: 40px;
	background: #FFF;
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 0px 3px 3px 0px;
}

.searchbox > .QuerySearch > svg {
	fill: #DDD;
	width: 24px;
	height: 24px;
}

.first-header > .right {
	float: right;
}

.first-header > .divider {
	float: left;
	width: 1px;
	height: 40px;
	margin-top: 10px;
	background: #DDD;
}

.notifications > svg, .profile > svg, .cart > svg {
	width: 24px;
	height: 24px;
	fill: #DDD;
}

.second-header {
	float: left;
	width: 85%;
	height: 58px;
	padding: 0px 7.5%;
	border-top: 2px dashed #DDD;
}

.showcase {
	z-index: 1;
	height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(https://images.pexels.com/photos/264636/pexels-photo-264636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.beforeH1 {
	float: left;
	margin-left: 7.5%;
	margin-top: 50px;
	clear: both;
	text-transform: uppercase;
}

h1 {
	width: 50%;
	float: left;
	clear: both;
	margin-left: 7.5%;
	margin-top: 20px;
	font-size: 48px;
}

.showcase-cta {
	float: left;
	clear: both;
	margin-left: 7.5%;
	margin-top: 30px;
	padding: 10px 25px;
	background: #b30664;
	color: #FFF;
	border: 0px;
	border-radius: 7px;
	text-transform: uppercase;
}

.MoreOffers {
	overflow: hidden;
	float: left;
	clear: both;
	width: 85%;
	height: 90px;
	margin: 60px 7.5%;
	margin-bottom: 0px;
	border-radius: 7px;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	background: #FFF;
}

.MoreOffers > .card {
	float: left;
	display: inline-block;
	width: calc(25% - 2px);
	height: 90px;
	border-right: 2px dotted #DDD;
}

.MoreOffers > .card:nth-child(4) {
	border: none;
}

.MoreOffers > .card > .pic {
	float: left;
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 100%;
	background: #DDD;
}

.MoreOffers > .card > p {
	float: left;
	width: calc(100% - 100px);
	margin-left: 5px;
	margin-top: 30px;
}